@charset "UTF-8";
* {margin: 0; padding: 0;}
body, html { width: 100%; height: 100%; min-width: 1280px;}
ul {list-style: none;}
a {text-decoration: none;}
img {border: 0; }
body { font-family: 'Noto Sans KR', sans-serif; }

/* header 부분 */
#header { clear: both; width: 100%;}
#gnb {  margin: 0 auto; width:100%; height: 70px; top: 0;
		position: fixed; overflow: hidden; z-index: 201;}
#gnb:HOVER {height: 350px; background-color: #fff; transition-duration:0.7s;}	
#gnb:HOVER .logo {background-image: url("../img/logo_b.png");}
#gnb:HOVER a {color: black;}
/* #gnb.on {background-color: #dddddd; margin: 0 auto; width:100vw; height: 70px;
		position: fixed; overflow: hidden; z-index: 201;} */
#gnb li {width: 130px;}
#gnb li:first-child {width: 280px;}
#gnb li a {display:block; color: black; padding: 10px;text-align: center; color:white;}
#gnb li a:HOVER {font-weight: 700}
.logo {display: block; width: 280px; height: 40px; margin-left: 50px; margin-top: 13px; margin-right: 250px;
		background-image: url("../img/logo_w.png");}
.nav li {float: left;}
#gnb li a:FIRST-CHILD {font-weight: 700; font-size: 20px; padding-top:21px;}
#gnb li a:FIRST-CHILD:HOVER {border-bottom: 2px solid #32418C; height: 20px;}
#gnb li a:HOVER {border-bottom: 1px solid #32418C; color:#32418C;}
.sub_menu {font-size: 12px;}
.link {background-image: url("../img/link.png"); display: inline-block; width: 15px;height: 15px;}
.injae {float: right; margin-left: 360px;}


/* footer 부분 */
.ft { clear: both; width: 100%; height: 150px; background:#eee;}
.fnb {clear: both; width: 100%; height: 30px; margin-top: 40px;}
.fnb ul {width: 1280px; margin: 0 auto;}
.fnb li {width: 100px; float: left; margin: 0 auto;}
.fnb li a {display: block; color: #777; text-align: center; font-weight: bold; font-size: 12px}
.fnb li a:hover {color:#333;}
.addr {display: block; width: 1280px; margin: 0 auto;}
.addr span {color: #b1b1b1; font-size: 12px;}
.copyright {display: block; width: 1280px; margin: 0 auto;color: #b1b1b1;font-size: 12px;}
