@charset "utf-8";

       /*초기화*/
        * {
            margin: 0;
            padding: 0;
        }

        body,
        html {
            width: 100%;
            min-width: 1280px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
            user-select: none;
        }

        /*공통스타일*/
        .tit2 {
            color: white;
            position: absolute;
            width: 50%;
            top: 20px;
            font-size: 32px;
            left: 25%;
            text-align: center;
            background-color: black;
        }

        .wrap {
            width: 1280px;
            margin: 0 auto;
        }

        /*헤더 영역 스타일*/
        .hd {
            width: 100%;
            height: 140px;
            position: relative;
            background-color: black;
        }

        .logo {
            display: block;
            float: left;
            margin-top: 20px;
        }

        .tnb {
            float: right;
            margin-top: 20px;
        }

        .tnb li {
            float: left;
            margin-left: 20px;
        }

        .tnb li a {
            color: white;
        }

        .tnb li a:hover {
            color:black;
            background-color: white;
        }

        .gnb {
            clear: both;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .gnb li {
            float: left;
            width: 20%;
        }

        .gnb li a {
            display: block;
            color:white;
            font-size: 18px;
            text-align: center;
            height: 42px;
            line-height: 42px;
            border-bottom: 3px solid white;
        }

        /* .gnb li a:hover{ background-color: deeppink; color: wheat;} */
        .gnb li a:hover {
            border-bottom: solid black;
            color: black;
            background-color: white;
        }

        /* 푸터 영역 */
        .ft {
            clear: both;
            width: 100%;
            margin-top: 10px;
            border-top: 3px solid #333;
            background-color: #444;
            color: white
        }

        .ft_wrap,
        .fnb {
            width: 1280px;
            margin: 10px auto;
            
            position: static;
        }

        .fnb li {
            float: left;
            padding: 15px;
        }

        .fnb li a {
            color: white;
            font-size: 16px;
        }